[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib_metadata = "*"
flask = "==2.1.1"
pillow = "==8.4.0"
django-environ = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
