SECRET_KEY=django-insecure-jaq+!)yu&3^v%su@mg8(@+6f50b&(ey%i2^@ujgj^u-n6m=(=r
DEBUG=True

POSTGRES_NAME=tdsp_docker
POSTGRES_DB=tdsp_docker
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MINIO_ROOT_USER=tdsp
MINIO_ROOT_PASSWORD=yu&3^v%su@mg8(@+6f50b&(ey%i2^@
MINIO_ACCESS_KEY=Wo1fFOaM9NOaEueP
MINIO_SECRET_KEY=ketjAg-guwgo4-husxec
