SECRET_KEY=some_secret_key
DEBUG=True/False
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
LOCAL_HOST = machine_local_ip/localhost

POSTGRES_NAME=pg_name
POSTGRES_DB=pg_db_name
POSTGRES_USER=pg_user_name
POSTGRES_PASSWORD=pg_pass
POSTGRES_HOST=pg_hostname
POSTGRES_PORT=pg_port

MINIO_ROOT_USER=minio_username
MINIO_ROOT_PASSWORD=minio_pass