SECRET_KEY=some_secret_key
DEBUG=True/False
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
LOCAL_HOST = machine_local_ip/localhost
ALLOWED_HOST=*
SSP_HOST=ssp_host_ip/none

POSTGRES_DB=pg_db_name
POSTGRES_USER=pg_user_name
POSTGRES_PASSWORD=pg_pass
POSTGRES_HOST=pg_hostname
POSTGRES_PORT=pg_port

GF_SECURITY_ADMIN_USER: admin
GF_SECURITY_ADMIN_PASSWORD=pass
GF_SERVER_HTTP_PORT: 3060
