asgiref~=3.2
jsonfield==2.0.2
sqlparse==0.3.0
certifi==2018.4.16
decorator==4.3.0
Django==3.0
django-cors-headers==3.1.1
gunicorn==19.9.0
hexbytes==0.1.0
oauthlib==2.1.0
Pillow==6.0.0
psycopg2==2.7.5
ptyprocess==0.6.0
python-dateutil==2.7.3
pytz==2018.5
redis==2.10.6
wcwidth==0.1.7
websockets==4.0.1
django-environ==0.9.0
psycopg2-binary==2.9.3
PyJWT==1.7.1