
.tableWrapper {
  margin-top: 60px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 2rem;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: #000;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.colMd6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.colMd12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .colMd6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

th {
  text-align: left;
}
.table tbody tr {
  margin-bottom: 10px;
}
.justifyContentCenter {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 2rem !important;
}
.mb3,
.my3 {
  margin-bottom: 1rem !important;
}
.textCenter {
  text-align: center !important;
}
.headingSection {
  font-size: 28px;
  color: #fff;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: left;
}
.tableBordered th,
.tableBordered td {
  border: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.tableBordered thead th,
.tableBordered thead td {
  border-bottom-width: 2px;
}
.tableDark th,
.tableDark td,
.tableDark thead th,
.tableDark tbody + tbody {
  border-color: #95999c;
}
.tableDark th,
.tableDark td,
.tableDark thead th {
  border-color: #454d55;
}

.table thead th {
  border: none;
  padding: 20px 30px;
  font-size: 14px;
  color: #fff;
  border-bottom: 4px solid #2b3035;
}
.table thead th:nth-child(2),
.table thead th:nth-child(3) {
  padding-left: 36px;
}
table {
  border-collapse: collapse;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.tableBordered {
  border: 1px solid #dee2e6;
}
.tableDark,
.tableDark > th,
.tableDark > td {
  background-color: #c6c8ca;
}
.tableDark {
  color: #fff;
  background-color: #343a40;
}
.table {
  min-width: 1000px !important;
  width: 100%;
}
.tableDark.tableBordered {
  border: 0;
}

.table tbody th,
.table tbody td {
  border: none;
  padding: 20px 30px;
  border-bottom: 3px solid #2b3035;
  font-size: 14px;
}

.editCampaignsItem,
.removeCampaignsItem {
  border: none;
  outline: none;
  padding: 5px 0px;
  background: #45f3ff;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 60px;
}

.removeCampaignsItem {
  margin-left: 10px;
}

.createCampaignWrapper > button {
  border: none;
  outline: none;
  padding: 8px 16px;
  background: #45f3ff;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  font-size: 14px;
  letter-spacing: 2px;
}

.createCampaignWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.campaignsInputs {
  background-color: #343a40;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #343a40;
}

.editedItemBorderColor {
  border-color: #45f3ff;
}

.itemUrl {
    display: block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    text-decoration: none;
}