.buttonsWrapper {
  display: flex;
  column-gap: 16px;
  margin-top: 20px;
}

.buttonsWrapper > button {
  border: none;
  outline: none;
  padding: 5px 0px;
  background: #45f3ff;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 60px;
}
